.heroSection {
  background-color: #496989;
  padding: 3rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.heroSection h1 {
  font-size: 3rem;
  line-height: 1;
}
.heroSection p {
  font-size: 1.2rem;
  line-height: 1;
}

.heroSection select,
.heroSection input,
.heroSection button {
  margin-top: 1.5rem;
  padding: 0.5rem;
  outline: none;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

.heroSection button {
  background-color: #124076;
  color: #fff;
  border: none;
  font-size: 0.9rem;
  letter-spacing: 1px;
  cursor: pointer;
  padding-inline: 1rem;
}
