.footer {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: darkgrey;
}
.logo {
  height: 40px;
  width: 40px;
  background-color: #124076;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 2rem;
  color: #fff;
}
